APP_NAME=VMD
APP_ENV=production
APP_KEY=base64:GERAR_NA_VPS_COM_PHP_ARTISAN_KEY_GENERATE
APP_DEBUG=false
APP_URL=http://161.97.120.221
APP_SITE_ADDRESS=:80
APP_DOMAIN=

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=vmd
DB_USERNAME=vmd_app
DB_PASSWORD=troque_por_uma_senha_forte
DB_SSLMODE=disable

POSTGRES_DB=vmd
POSTGRES_USER=vmd_app
POSTGRES_PASSWORD=troque_por_uma_senha_forte

PGADMIN_DEFAULT_EMAIL=admin@vmd.local
PGADMIN_DEFAULT_PASSWORD=troque_por_uma_senha_forte_do_pgadmin

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=contato@seudominio.com.br
MAIL_FROM_NAME="${APP_NAME}"

AUTO_SCHOOL_NAME="CFC Venca o Medo de Dirigir"
AUTO_SCHOOL_ADDRESS="Avenida Beberibe, 1436 - Arruda"
AUTO_SCHOOL_DOCUMENT=
AUTO_SCHOOL_PHONE="(81) 3443-6667"
